@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, san-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
}
  a:link,
  a:visited {
    color: var(--accent-color);
}

img { 
    max-width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: 3fr;
}

@media (min-width: 100px) {
    .gallery {
        grid-template-columns:repeat(1, 1fr);
    }
}

@media (min-width: 251px) {
    .gallery {
        grid-template-columns:repeat(2, 1fr);
    }

}

@media (min-width: 501px) {
    .gallery {
        grid-template-columns:repeat(3, 1fr);
    }
}