

#content {
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    max-height: 1400px;
    max-width: 600px;
    line-height: 1.5;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: black;
    
}

body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color: rgb(4 93 255);
}

h1 {
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-size: 50px;
}

#sub {
    color: rgb(0, 110, 182);
    border-bottom: solid;
    border-color: goldenrod;

}

#statement {
    text-align: left;
}

#italics {
    text-align: left;
    font-style: italic;
}

li {
    text-align: left;
    padding-left: 10px;
}

img {
    max-width: 150px;
}